/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
padding: 150px;
width: 50%;
margin: auto;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}

body,h1,h2,h3,h4,h5,h6 {
font-family: "Raleway", Arial, Helvetica, sans-serif
}
