.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 0px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

.loginscreen{
	display: none;
        margin: auto;
	position: absolute;
        z-index: 2;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
        background-size: cover;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4); 
}

.modal-content {
	background-color: #C5C8DF;
	margin: auto;
	padding-top: 50px;
	padding-left: 20px;
	padding-bottom: 50px;
	border: 10px solid #888;
	width: 100%;
	height: 100%;
	overflow: auto;
}

/* The Close Button */
.add-close {
	padding-top: 0px;
	color: red;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.add-close:hover,
.add-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}